
.game_title {
  position: relative;
  background: #001f34;
  padding:15px 0;

  .teamname {
    text-align: center;
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
  }
}

#field {
  position: relative;
  height: 420px;
  width: 100%;
  min-width: 320px;
  max-width: 550px;
  background: #001f34 url(../img/field.png) center center no-repeat;
  background-size: contain;
  margin: 0 auto;

  @include media-phablet {
    height: 390px;
  }

  @media(max-width: 350px) {
    height: 350px;
  }

  @include media-phone {
    height: 304px;
  }

}

.formation {
  position: absolute;
  height: 100%;
  width: 100%;
}

.player {
  position: absolute;
  width: 100px;
  height: 80px;
  cursor: all-scroll;

  @include media-tablet {
    width: 100px;
    height: 60px;
  }

  @include media-phone {
    width: 62px;
    height: 50px;
  }

  .jersey {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 60px;
    background: url(../img/jersey.svg);
    background-size: contain;
    background-repeat: no-repeat;

    svg path {
      fill: #000;
    }

    @include media-phone {
      width: 40px;
      height: 30px;
    }

    @include media-tablet {
      width: 50px;
      height: 40px;
    }
  }

  .number {
    position: absolute;
    top: 13px;
    left: -6px;
    text-align: center;
    font-size: 20px;
    right:0;

    @include media-phone {
      font-size: 11px;
      padding-right: 5px;
    }

    @include media-tablet {
      font-size: 14px;
      left: 4px;
      top:10px;
      padding-right: 5px;
    }
  }

  .name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;

    @include media-phablet {
      font-size: 12px;
    }

    @include media-phone {
      font-size: 9px;
    }
  }

  .status {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid red;
    background: orange;
    position: absolute;
    left: 60%;
    bottom: 20px;
    display: none;

    @include media-phone {
      left: 53%;
      bottom: 12px;
    }
  }
}

.formation-442 {
  .player-1 {
    left: 39%;
    bottom:0;
  }

  .player-2 {
    bottom: 24%;
    left: 5%;
  }

  .player-3 {
    bottom: 20%;
    left: 25%;
  }

  .player-4 {
    bottom: 20%;
    left: 45%;
  }

  .player-5 {
    bottom: 24%;
    left: 70%;
  }

  .player-6 {
    bottom: 46%;
    left: 16%;
  }

  .player-7 {
    bottom: 35%;
    left: 38%;
  }

  .player-8 {
    bottom: 58%;
    left: 38%;
  }

  .player-9 {
    bottom: 46%;
    left: 65%;
  }

  .player-10 {
    bottom: 70%;
    left: 16%;
  }

  .player-11 {
    bottom: 70%;
    left: 60%;
  }
}

.formation-433 {
  .player-1 {
    left: 39%;
    bottom:0;
  }

  .player-2 {
    bottom: 24%;
    left: 5%;
  }

  .player-3 {
    bottom: 20%;
    left: 25%;
  }

  .player-4 {
    bottom: 20%;
    left: 45%;
  }

  .player-5 {
    bottom: 24%;
    left: 70%;
  }

  .player-6 {
    bottom: 46%;
    left: 16%;
  }

  .player-7 {
    bottom: 46%;
    left: 40%;
  }

  .player-8 {
    bottom: 70%;
    left: 40%;
  }

  .player-9 {
    bottom: 46%;
    left: 65%;
  }

  .player-10 {
    bottom: 70%;
    left: 16%;
  }

  .player-11 {
    bottom: 70%;
    left: 60%;
  }
}

.formation-451 {
  .player-1 {
    left: 39%;
    bottom:0;
  }

  .player-2 {
    bottom: 24%;
    left: 5%;
  }

  .player-3 {
    bottom: 20%;
    left: 25%;
  }

  .player-4 {
    bottom: 20%;
    left: 45%;
  }

  .player-5 {
    bottom: 24%;
    left: 70%;
  }

  .player-6 {
    bottom: 46%;
    left: 0%;
  }

  .player-7 {
    bottom: 38%;
    left: 58%;
  }

  .player-8 {
    bottom: 35%;
    left: 38%;
  }

  .player-9 {
    bottom: 46%;
    left: 74%;
  }

  .player-10 {
    bottom: 37%;
    left: 16%;
  }

  .player-11 {
    bottom: 58%;
    left: 38%;
  }
}


.formation-4141 {
  .player-1 {
    left: 39%;
    bottom:0;
  }

  .player-2 {
    bottom: 24%;
    left: 5%;
  }

  .player-3 {
    bottom: 20%;
    left: 25%;
  }

  .player-4 {
    bottom: 20%;
    left: 45%;
  }

  .player-5 {
    bottom: 24%;
    left: 70%;
  }

  .player-6 {
    bottom: 61%;
    left: 35px;
  }

  .player-7 {
    bottom: 47%;
    left: 56%;
  }

  .player-8 {
    bottom: 35%;
    left: 38%;
  }

  .player-9 {
    bottom: 61%;
    left: 68%;
  }

  .player-10 {
    bottom: 47%;
    left: 19%;
  }

  .player-11 {
    bottom: 70%;
    left: 38%;
  }
}

  .header {
    position: absolute;
    top:5px;
    right:5px;
    z-index:3;

    ul {
      list-style: none;

      li {
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        cursor:pointer;

        &:first-child {
          background: url(../img/settings.svg) center center no-repeat;
          background-size: 75%;
        }
      }
    }
  }

  .dialog {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index:10;
    background: #eaeaea;
    display: none;
    padding: 10px;

    .container {
      text-align: center;

      .close_btn {
        position: absolute;
        right: 0;
        top: 0;
        height:30px;
        width: 30px;
        background: url(../img/close.svg) center center no-repeat;
        background-size: cover;
        cursor:pointer;
      }

      h3 {
        margin-bottom: 15px;
      }

      label {
        font-weight: bold;
        text-align: left;
      }

      input[type="text"], input[type="number"] {
        position: relative;
        padding: 10px;
        width: 100%;
        border: 1px solid #ddd;
        margin-bottom: 10px;
      }

      input[type="submit"] {
        margin-top:20px;
       }

      .button {
        width: 100%;
      }
    }
  }
