// Mixins

// Colors
$primary-color: #35a6f6;
$secondary-color: #ffc000;
$third-color: #3A3A32;
$fourth-color: #555;
$fifth-color: #666;

$background-color: #E6E6E6;

$text-color: #333;

// Fonts
$primary-font: "Lato", arial, sans-serif;
$secondary-font: 'Lato', sans-serif;

$line-height: 1.7;

$font-size: 16px;

$background: #eee;

// Spacing
$spacing: 18px;

// Heading

// Buttons

// Media Queries
$mq-phone: 320px !default;
$mq-phablet: 480px !default;
$mq-tablet: 768px !default;
$mq-desktop: 1024px !default;
$mq-desktop-large: 1200px !default;

$cubic: cubic-bezier(.17,.67,.83,.67);

@mixin media-phone {
  @media (max-width: $mq-phone) {
    @content;
  }
}

@mixin media-phablet {
  @media (max-width: $mq-phablet) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $mq-tablet) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: $mq-desktop) {
    @content;
  }
}

@mixin media-desktop-large {
  @media (min-width: $mq-desktop-large) {
    @content;
  }
}

