<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.elftal.maker"
        versionCode = "10"
        version     = "1.0.0">

    <name>Elftal maker</name>

    <description>
        An example for phonegap build docs.
    </description>

    <author href="http://lvhmedia.nl" email="info@lvhmedia.nl">
        Lex van Hees
    </author>


    <platform name="android">
        <splash src="contents/img/splash/android-xhdpi.png" density="port-hdpi"/>
        <splash src="contents/img/splash/android-xhdpi.png" density="port-ldpi"/>
        <splash src="contents/img/splash/android-xhdpi.png" density="port-mdpi"/>
        <splash src="contents/img/splash/android-xhdpi.png" density="port-xhdpi"/>
    </platform>

</widget>