* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #f4f4f4;
  font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42;
  text-align: left;
  color: #54565B;
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 900px;
  position: relative; }

#colorpicker {
  display: none; }

.button {
  display: block;
  background: #35a6f6;
  color: #fff;
  border: 0;
  padding: 10px;
  cursor: pointer; }

.game_title {
  position: relative;
  background: red;
  padding: 15px 0; }
  .game_title .teamname {
    text-align: center;
    display: block; }

#field {
  position: relative;
  height: 420px;
  width: 100%;
  max-width: 550px;
  background: url(http://www.conceptdraw.com/How-To-Guide/picture/soccer-football-field-templates/End-Zone-View-Soccer-Football-Field.png) center center no-repeat;
  background-size: contain;
  margin: 0 auto; }
  @media (max-width: 480px) {
    #field {
      height: 390px; } }
  @media (max-width: 300px) {
    #field {
      height: 300px; } }
  @media (max-width: 320px) {
    #field {
      height: 248px; } }

.formation {
  position: absolute;
  height: 100%;
  width: 100%; }

.player {
  position: absolute;
  width: 100px;
  height: 80px;
  border: 1px solid #ccc;
  cursor: all-scroll; }
  @media (max-width: 320px) {
    .player {
      width: 62px;
      height: 50px; } }
  @media (max-width: 768px) {
    .player {
      width: 82px;
      height: 60px; } }
  .player .jersey {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 60px;
    background: url(http://www.clker.com/cliparts/c/2/5/7/11971220161720633624ryanlerch_white_t-shirt.svg);
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 320px) {
      .player .jersey {
        width: 40px;
        height: 30px; } }
    @media (max-width: 768px) {
      .player .jersey {
        width: 50px;
        height: 40px; } }
  .player .number {
    position: absolute;
    top: 13px;
    left: -6px;
    text-align: center;
    font-size: 20px;
    right: 0; }
    @media (max-width: 320px) {
      .player .number {
        font-size: 11px;
        padding-right: 5px; } }
    @media (max-width: 768px) {
      .player .number {
        font-size: 14px;
        left: 4px;
        top: 10px;
        padding-right: 5px; } }
  .player .name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px; }
    @media (max-width: 480px) {
      .player .name {
        font-size: 12px; } }
    @media (max-width: 320px) {
      .player .name {
        font-size: 9px; } }
  .player .status {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid red;
    background: orange;
    position: absolute;
    left: 60%;
    bottom: 20px;
    display: none; }
    @media (max-width: 320px) {
      .player .status {
        left: 53%;
        bottom: 12px; } }

.formation-442 .player-1 {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto; }

.formation-442 .player-2 {
  bottom: 24%;
  left: 15%; }

.formation-442 .player-3 {
  bottom: 20%;
  left: 35%; }

.formation-442 .player-4 {
  bottom: 20%;
  left: 55%; }

.formation-442 .player-5 {
  bottom: 24%;
  left: 75%; }

.formation-442 .player-6 {
  bottom: 48%;
  left: 16%; }

.formation-442 .player-7 {
  bottom: 35%;
  left: 43%; }

.formation-442 .player-8 {
  bottom: 60%;
  left: 43%; }

.formation-442 .player-9 {
  bottom: 48%;
  left: 68%; }

.formation-442 .player-10 {
  bottom: 80%;
  left: 25%; }

.formation-442 .player-11 {
  bottom: 80%;
  left: 70%; }

.menu {
  position: relative;
  height: 50px;
  background: red; }
  .menu ul {
    list-style: none; }
    .menu ul li {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      background: green; }

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ccc;
  display: none;
  padding: 10px; }
  .dialog .container {
    text-align: center; }
    .dialog .container .close_btn {
      position: absolute;
      right: 15px;
      top: 15px;
      height: 30px;
      width: 30px;
      background: green; }
    .dialog .container h3 {
      margin-bottom: 15px; }
    .dialog .container label {
      font-weight: bold;
      text-align: left; }
    .dialog .container input[type="text"], .dialog .container input[type="number"] {
      position: relative;
      padding: 10px;
      width: 100%;
      border: 1px solid #ddd;
      margin-bottom: 10px; }
    .dialog .container .button {
      width: 100%; }

/*# sourceMappingURL=style.css.map */